body {

font-size:20px;

}
<<<<<<< HEAD
body{
	font-size:20px;
	font-size:20px;
	font-size:20px;
	font-size:20px;
}



body{
	font-size:20px;
	font-size:20px;
	font-size:20px;
	font-size:20px;
=======
.profile{
    width: 4px;
    height: 5px;
    background-color: antiquewhite;
    color: black;
>>>>>>> a9ac26507623d27bd13d22eec4805e0e454cfe40
}